node_modules
.vagrant
notes
.DS_Store
node_app.log
npm-debug.log
build
.*.swp
newrelic_agent.log
.sass-cache

public/css/*
!public/css/.gitkeep

tmp/*
!tmp/.gitkeep

dist/*
!dist/.gitkeep
!dist/version
!dist/favicon.ico

db/*.db

dump.rdb
