<form action="{{ submit_path }}" method="POST">
<h2 class="page-header">{{ header }}</h2>

  <div class="field">
    <input value="{{ setlist_title }}" type="text" name="title" placeholder="Title" autofocus="true">
  </div>
  <br />
  <br />

  <input type="submit" value="Save" class="add button">
</form>
