<div class="builder">
  <h2>
    Setlist: {{ setlist_title }}
  </h2>
  <div class="builder-inner">
    <table>
      <tr class="header">
        <th width="50"></th>
        <th width="500">Name</th>
        <th width="465">Key</th>
        <th width="65">Capo</th>
        <th width="115">Actions</th>
      </tr>
      {{# songs }}
      <tr data-old-pos="{{ position }}" data-pos="{{ position }}">
        <td><input disabled="disabled" type="text" value="{{ num }}" class="order-field" size="1" style="text-align: right"></td>
        <td class="song-name">
          <a href="#">{{ title }}</a>
        </td>
        <td class="key-selector" data-start="{{ start_key }}" data-key="{{ data_key }}" data-song="{{ title_dashes }}"></td>
        <td>
          <select value="{{ capo }}" class="capo-selector" id="" name="" data-song="{{ title_dashes }}">
            <option value="0">--</option>
            {{# capo_list }}
            <option value="{{ . }}">{{ . }}</option>
            {{/ capo_list }}
          </select>
        </td>
        <td class="actions">
          <a href="{{ path }}" class="icon-eye-open"></a>
          <a href="{{ edit_path }}" class="icon-pencil"></a>
          <a href="{{ delete_path }}" data-method="delete" data-confirm="Are you sure?" class="icon-trash"></a>
        </td>
      </tr>
      {{/ songs }}
    </table>
  </div>
</div>

{{# songs }}
<div class="song">
  <h2 data-header="{{ title_dashes }}">
    {{ title }}
  </h2>
  <pre id="{{ title_dashes }}">{{ text }}</pre>
  <div class="meta">
    {{ artist }}
    <span class="license">{{ license }}</span>
  </div>
</div>
{{/ songs }}
