{{# full }}
<div class="slideshow-full">
  <div class="slideshow-full-slide"></div>
  <div class="slideshow-full-slide"></div>
</div>
{{/ full }}
{{^ full }}
<div class="slideshow">
<div class="slideshow-control">
  <div class="slideshow-actions">
    <span class="icon-chevron-left back-button"></span>
    <button class="button start-button"><span class="icon-play-circle"></span> Start</button>
    <button class="button next-button"><span class="icon-chevron-down"></span> Next</button>
    <button class="button prev-button"><span class="icon-chevron-up"></span> Previous</button>
  </div>
  <div class="slideshow-slides">
    {{# songs }}
    <div class="slideshow-section" data-song="{{ title_dashes }}">
      <div class="slide-separator">{{ title }}</div>
      <div class="slide"></div>
      {{# slides }}
      <div class="slide">{{ . }}</div>
      {{/ slides }}
      <div class="slide"></div>
    </div>
    {{/ songs }}
  </div>
</div>
<div class="slideshow-preview-wrapper">
  <div class="slideshow-preview">
    <div class="slideshow-preview-slide"></div>
    <div class="slideshow-preview-slide"></div>
  </div>
</div>
</div>
{{/ full }}
