<h2>Sign in</h2>

<form method="POST" action="">
  <div class="field">
    <label for="email"></label>
    <input type="text" autofocus="true" name="email">
  </div>
  <br />
  <br />

  <div class="field">
    <label for="password"></label>
    <input autofocus="true" type="password" name="password">
  </div>
  <br />
  <br />

  <div>
    <input type="submit" name="submit" id="submit" value="Sign In" />
  </div>
  <br />
</form>
