<html>
<head>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Setlister">
  <meta name="twitter:description" content="Organize your chord charts">
  <meta name="twitter:image" content="https://res.cloudinary.com/deqkp2xjs/image/upload/v1583871674/setlister-logo.png" />

  <meta property="og:title" content="Setlister" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://setlister.lifepointoakdale.org" />
  <meta property="og:image" content="https://res.cloudinary.com/deqkp2xjs/image/upload/v1583871674/setlister-logo.png" />
  <meta property="og:description" content="Organize your chord charts" />
  <meta property="og:site_name" content="Setlister" />

  <title>{{ page_title }}{{# page_title }} &mdash; {{/ page_title }}{{ site_title }}</title>
{{# fonts }}
  {{# src }}
  <script type="text/javascript" charset="utf-8" src="{{{ src }}}"></script>
  {{/ src }}
  {{# inline }}
  <script type="text/javascript" charset="utf-8">{{{ inline }}}</script>
  {{/ inline }}
  {{# href }}
    <link rel="stylesheet" type="text/css" href="{{{ href }}}">
  {{/ href }}
{{/ fonts }}
{{# stylesheets }}
<link rel="stylesheet" type="text/css" href="{{{ . }}}">
{{/ stylesheets }}
<link rel="stylesheet" media="print" type="text/css" href="{{ print_stylesheet }}">

{{# metatags }}
<meta {{# property }}property="{{ property }}" {{/ property }}{{# name }}name="{{ name }}" {{/ name }}{{# content }}content="{{ content }}" {{/ content }}>
{{/ metatags }}
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a class="logo" href="{{ root_url }}">Setlister</a></li>
      <li><a href="{{ songs_path }}">Songs</a></li>
      <li><a href="{{ setlists_path }}">Setlists</a></li>
    </ul>
  </nav>
</header>
<section>
  {{# messages.info }}
  <div class="info flash">{{ . }}</div>
  {{/ messages.info }}
  {{# messages.error }}
  <div class="error flash">{{ . }}</div>
  {{/ messages.error }}
  {{# messages.warning }}
  <div class="warning flash">{{ . }}</div>
  {{/ messages.warning }}
</section>
<section>
  {{{ yield }}}
</section>
{{# templates }}
<script type="text/mustache" id="{{ id }}">
{{{ text }}}</script>
{{/ templates }}

{{# javascripts }}
<script type="text/javascript" charset="utf-8" src="{{{ . }}}"></script>
{{/ javascripts }}
</body>
</html>
