<html>
<head>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Setlister">
  <meta name="twitter:description" content="Organize your chord charts">
  <meta name="twitter:image" content="https://res.cloudinary.com/deqkp2xjs/image/upload/v1583871674/setlister-logo.png" />

  <meta property="og:title" content="Setlister" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://setlister.lifepointoakdale.org" />
  <meta property="og:image" content="https://res.cloudinary.com/deqkp2xjs/image/upload/v1583871674/setlister-logo.png" />
  <meta property="og:description" content="Organize your chord charts" />
  <meta property="og:site_name" content="Setlister" />

  <title>Setlister</title>
{{# fonts }}
  {{# src }}
  <script type="text/javascript" charset="utf-8" src="{{{ src }}}"></script>
  {{/ src }}
  {{# inline }}
  <script type="text/javascript" charset="utf-8">{{{ inline }}}</script>
  {{/ inline }}
  {{# href }}
    <link rel="stylesheet" type="text/css" href="{{{ href }}}">
  {{/ href }}
{{/ fonts }}
{{# stylesheets }}
<link rel="stylesheet" type="text/css" href="{{{ . }}}">
{{/ stylesheets }}
<link rel="stylesheet" media="print" type="text/css" href="{{ print_stylesheet }}">

{{# metatags }}
<meta {{# property }}property="{{ property }}" {{/ property }}{{# name }}name="{{ name }}" {{/ name }}{{# content }}content="{{ content }}" {{/ content }}>
{{/ metatags }}
</head>
<body>
  {{{ yield }}}
{{# templates }}
<script type="text/mustache" id="{{ id }}">
{{{ text }}}</script>
{{/ templates }}

{{# javascripts }}
<script type="text/javascript" charset="utf-8" src="{{{ . }}}"></script>
{{/ javascripts }}
</body>
</html>
