@import 'colors';

.setlister-react-capo-select {
  display: inline-block;
}

.setlister-react-capo-select-input {
  border: 1px solid $linen;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 14px;
  outline: none;
}
