$font: 'Ubuntu', sans-serif;
$monospaceFont: 'Ubuntu Mono', monospace;
$white: #ffffff;
$swissCoffee: #f9f9f9;
$cloud: #f5f5f5;
$pillow: #e5e5e5;
$linen: #d0d0d0;
$crisp: #747474;
$dusk: #383838;
$grey: #333;
$black: #111;
$blue: #0af;
