@import 'colors';

.setlister-react-home-card-section {
  display: block;
  margin-bottom: 60px;
}

a.setlister-react-home-card-section {
  color: inherit;
  text-decoration: none;
}

.setlister-react-home-header {
  font-size: 24px;
  position: relative;
  margin-bottom: 30px;
}

.setlister-react-home-header-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.setlister-react-home-header-subtitle {
  font-size: 14px;
  margin-left: 10px;
}

.setlister-react-home-header-see-more {
  font-size: 14px;
  color: $blue;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 0;

  .icon {
    font-size: 12px;
  }
}

.setlister-react-card-list {
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    background: linear-gradient(to right, rgba(255,255,255,0), $white);
  }
}

.setlister-react-card-list-inner {
  width: 9999px;
}

.setlister-react-card {
  display: inline-block;
  border-radius: 4px;
  width: 180px;
  height: 190px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.setlister-react-card-preview {
  overflow: hidden;
  height: 120px;
  font-family: $monospaceFont;
  font-size: 12px;
  white-space: pre;
  margin: 10px;
  margin-bottom: 10px;
}

.setlister-react-card-info {
  height: 30px;
  font-size: 14px;
  padding: 10px;
  border-top: 1px solid $pillow;
  background-color: $swissCoffee;
}
