@import 'colors';

.setlist-react-app.stage-mode {
  .setlister-react-nav {
    display: none;
  }
}

.setlister-react-nav {
  height: 9999px;
  max-height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: $white;
  border-bottom: 1px solid $pillow;
  z-index: 1;
  overflow: hidden;
}

.setlister-react-nav-hamburger {
  cursor: pointer;
  display: none;
  width: 25px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 0;
}

.setlister-react-nav-hamburger-line {
  width: 100%;
  height: 3px;
  margin-bottom: 5px;
  background-color: $grey;

  &:last-child {
    margin-bottom: 0;
  }
}

.setlister-react-nav-inner {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.setlister-react-nav-title {
  font-family: $font;
  font-size: 18px;
  line-height: 50px;
  height: 50px;
  letter-spacing: 0.09em;
}

.setlister-react-nav-items {
  font-family: $font;
  position: absolute;
  right: 0px;
  top: 0;
  line-height: 50px;
  font-size: 14px;
}

.setlister-react-nav-item {
  margin-left: 40px;
  font-size: 12px;
}

.setlister-react-nav a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 960px) {
  .setlister-react-nav {
    transition: max-height 0.1s ease-in-out;
    max-height: 50px;

    &.is-open {
      max-height: 191px;
    }
  }

  .setlister-react-nav-hamburger {
    display: block;
  }

  .setlister-react-nav-title {
    text-align: center;
  }

  .setlister-react-nav-items {
    position: static;
    width: 100%;
    background-color: $white;
    line-height: 40px;
    padding-bottom: 20px;
    text-align: center;
  }

  .setlister-react-nav-item {
    display: block;
    margin-left: 0;
  }

  .setlister-react-main-inner,
  .setlister-react-nav-inner {
    margin-left: 20px;
    margin-right: 20px;
  }
}
