html, * {
  font-family: 'Ubuntu', sans-serif;
}

.setlister-react-nav,
.setlister-react-setlist-summary,
.setlister-react-setlist-title {
  display: none;
}

.setlister-react-main {
  padding-top: 0;
}

.setlister-react-setlists-show {
  position: relative;
  padding-top: 0;
}

.setlister-react-song {
  padding: 0;
  border: none;
  position: relative;
}

.setlister-react-song-text,
.setlister-react-song-column {
  page-break-inside: avoid;
  -webkit-region-break-inside: avoid;
}
