html, * {
  font-family: 'Ubuntu', sans-serif;
}

.setlister-react-nav,
.setlister-react-setlist-summary,
.setlister-react-page-title,
.setlister-react-song-controls,
.setlister-react-setlist-title {
  display: none;
}

.setlister-react-page-title {
  position: relative;
}

.setlister-react-main,
.setlister-react-main-inner {
  padding-top: 0;
}

.setlister-react-setlists-show {
  position: relative;
  padding-top: 0;
}

.setlister-react-song {
  padding: 0;
  border: 0;
  position: relative;
  min-height: 0;
  page-break-inside: avoid;
  -webkit-region-break-inside: avoid;
  page-break-after: auto;
}
