@import 'colors';

.setlister-react-table-row {
  position: relative;
  min-height: 16px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px 10px;
  margin-bottom: 3px;
  font-size: 14px;

  &:nth-child(2n) {
    background-color: $cloud;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.action {
      color: $dusk;
      margin-right: 12px;
      font-size: 15px;

      &:hover {
        color: $black;
        text-decoration: none;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.setlister-react-table-cell {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.setlister-react-table-header-row .setlister-react-table-cell {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  color: $dusk;
  font-size: 12px;
}

.setlister-react-table-order {
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: 32px;
  text-align: center;
  line-height: 16px;
  padding-top: 5px;

  .icon {
    font-size: 10px;
  }
}

.setlister-react-table-order-up {
  cursor: pointer;
}

.setlister-react-table-order-down {
  cursor: pointer;
}

.setlist-song-position {
  min-width: 40px;
}

.setlist-song-title {
  flex: 1;
  white-space: pre;
  overflow: hidden;
}

.setlist-song-capo {
  min-width: 50px;
}

.setlist-song-key {
  min-width: 510px;
}

.setlist-song-actions {
  min-width: 62px;
}

.setlist-song-tags {
  text-align: right;
}

.setlist-song-proximity {
  min-width: 87px;
  text-align: right;
}

.setlist-song-frequency {
  min-width: 50px;
  text-align: center;
  font-size: 12px;
}

.setlister-react-table-controls {
  text-align: right;
  position: absolute;
  top: 10px;
  right: 0;

  .setlister-react-field-label {
    display: inline-block;
    margin-right: 5px;
  }
}

.setlister-react-table-filter {
  display: inline-block;
  margin-right: 30px;

  .icon {
    cursor: pointer;
  }
}

@media only screen and (max-width: 900px) {
  .setlist-song-key {
    min-width: 39px;
  }
}

@media only screen and (max-width: 800px) {
  .setlist-song-frequency {
    display: none;
  }

  .setlister-react-capo-select-input,
  .setlister-react-key-select-input {
    font-size: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .setlist-song-tags {
    display: none;
  }

  .setlist-song-capo {
    display: none;
  }

  .setlister-react-table-filter {
    display: none;
  }
}
